body{
    background-color: #e6ffff;
}

h1{
  color: blue;
  text-size-adjust: 80px;
 
}
.c{
    width: 50%;
    height: 400px;
    background-color:   #e6ffff;

    justify-content: space-evenly;
    position: relative;
    top: 200px;
    left:0px; 
}


.container-fluid{
    width: 30%;
    height: 400px;
    background-color: white;
    text-align: center;
    justify-content: first baseline;
    position:absolute;
    top: 70px;
    left:750px;
}
div{

}